
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: white;
    padding: 1%;
    display: flex;
    align-items: center;
}
.menu {
    margin-left: auto; 
    margin-right: 20%;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    margin-right: auto;
    margin-left: 20%;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:last-of-type){display: none;}
    .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.content {
    width: 600px;
    margin: 0 auto;
}
.content img {
    width: 100%;
    margin: auto;
    display: block;
    border-radius: 2%;
}
.content h2 {
    text-align: center;
}
.content p {
    text-align: justify;
}
@media only screen and (max-width: 600px) {
    .content img{
        width: 100%;
    }
}